/***
*
*  1. Style Variables
*       1.1 Font Families
*       1.2 Colors
*
***/

/****************** 1. Caretta Style Variables ******************/
	/****************** 1.1 Font Families ******************/
	$material-iconic: 'Material-Design-Iconic-Font';
	$roboto: 'Roboto', sans-serif;

	/****************** 1.2 Colors ******************/
	$black: #000000;
	$blue: #2196f3;
	$green: #00bcd4;
	$red: #f44336;
	$btn-cancel: #607d8b;
	$btn-primary: #2196f3;
	$grey-active: #e3e3e3;
	$grey-logo: #273037;
	$grey-header: #343f48;
	$grey-input: #efefef;
	$grey-light: #edecec;
	$grey-logo: #273037;
	$grey-text: #333333;
	$blue: #ecf9ff;
	$red: #f44336;
	$white: #ffffff;

	/****************** 1.2.1 Box Shadows ******************/
	$shadow-header: rgba(0, 0, 0, .3);
