/***
*
*  1. Table Wrapper
*  		1.1 Table
*
***/

@import 'vars';

/******************    1. Table Wrapper  ******************/
.rps-grid-wrapper  {
	width: 100%;
	/******************    1.1 Table  ******************/

	.rps-grid {
		background-color: $white;
		border: 0;
		margin-bottom: 0;
		max-width: 100%;
		width: 100%;

		&> thead {
			display: table-header-group;
			vertical-align: middle;

			&> tr > th {
				background-color: $white;
				color: 	$grey-text;
				font-size: 13px;
				font-weight: 500;
				padding: 20px;
				position: relative;
				text-align: left;
				text-transform: uppercase;
				vertical-align: middle;

				&:first-child {
					padding-left: 30px;
				}

				&:last-child {
					padding-right: 30px;
				}

				input {
				  	border: 1px solid #e4e4e4;
					box-sizing: border-box;
					padding: 10px 15px;
					width: 100%;
				}
			}

		}

		& > tbody {
			display: table-row-group;
			vertical-align: middle;

			> tr {

				&:nth-child(2n+1) {
					background-color: #f4f4f4;
				}

				&:nth-child(2n) {
					background-color: $white;
				}

				td {
					border-top: 1px solid #f0f0f0;
					color: #5e5e5e;
					padding: 15px;
					vertical-align: middle;

					&:first-child {
						padding-left: 30px;
					}

					&:last-child {
						padding-right: 30px;
					}
				}
			}
		} 

	}
}